
:root{
    --color-inputs: #FFFFFF00;
    --color-barra: #A581CA;
    --color-separacion-inputs: #A581CA;
    --color-icons: #7D4BAF;
    --color-placeholder: #7D4BAF80;
    --fuente-main: 'Comfortaa', cursive;
}
/* Para cambiar la fuente de los placeholder */
*::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: var(--color-placeholder);
    font-family: var(--fuente-main);
}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
    color: var(--color-placeholder);
    font-family: var(--fuente-main);
}

body{
    background: url(https://img.freepik.com/vector-gratis/fondo-morado-rosa-nublado_91008-257.jpg?w=2000); 
    background-size: cover;
    background-repeat: no-repeat;
}
.container-principal{
    margin: auto;
    margin-top: 15vh;
    width: 100%;
    height: 52vh;
    display: flex;
    
}
.container{
    width: 50%;
}
.container-izq{
    border-right: solid 3px var(--color-barra);
}
.container-izq img{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -24%;
}
.container-der{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imagen-head{
    text-shadow: 3px -3px var(--color-icons);
    color: #FFFFFF95;
    font-size: 7em;
}
.inputs{
    text-shadow: 1px 1px black;
    width: 50%;
}
.input{
    display: flex;
}
.imagen-input{
    color: var(--color-icons);
    font-size: 1.3em;
    margin-right: 7%;
}
.checkboxs{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.input-username{
    transition: all 0.4s;
    border-bottom: 3px solid var(--color-separacion-inputs);
    padding: 15px;
    background-color: var(--color-inputs);
}



.input-password{
    margin-top: 5%;
    padding: 15px;
    background-color: var(--color-inputs);
    border-bottom: 3px solid var(--color-separacion-inputs);
}

.input input{
    text-shadow: 1px 1px #00000070;
    font-size: 1.5em;
    font-family: var(--fuente-main);
    color: var(--color-icons);
    background-color: var(--color-inputs);
    border: none;
    outline: 0px;
}
.container-izq{
    text-align: center;
    margin: auto;
    font-size: 20em;
    color: #FFFFFF95;
    text-shadow: 12px -12px #00000030;
}
.checkbox-rect label{
    color: var(--color-icons);
    font-size: 1em;
    font-family: var(--fuente-main);
}
.forgotpassword{
    transition: all 0.4s;
    padding: 1.5%;
    border-radius: 20px;
    border: 2px solid transparent;
}
.forgotpassword:hover{
    background-color: var(--color-barra);
    transition: all 0.4s;
    padding: 1.5%;
    border-radius: 20px;
    border: 2px solid var(--color-icons);
}
.forgotpassword:hover label{
    transition: all 0.4s;
    color: white;
}
.checkbox-rect input[type="checkbox"] {
    display: none;
  }
  .checkbox-rect input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .checkbox-rect input[type="checkbox"]:hover + label:hover {
    color: var(--color-icons);
  }
  .checkbox-rect input[type="checkbox"]:hover + label:before {
    background: #50565a;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  .checkbox-rect input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .checkbox-rect input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  .checkbox-rect input[type="checkbox"]:checked + label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: var(--color-barra);
    box-shadow: 0 0 0 1px #000;
  }

.boton-login{
    transition: all 0.5s;
    padding: 2% 6%;
    font-size: 1.4em;
    font-family: var(--fuente-main);
    font-weight: 500;
    border: 3px solid var(--color-icons);
    border-radius: 50px;
    color: white;
    background-color: var(--color-barra);
    cursor: pointer;
}
.boton-login:hover{
    transition: all 0.5s;
    background-color: white;
    color: var(--color-icons);
    border: 3px solid var(--color-icons);
}
a{
    text-decoration: none;
}

